.input-wrapper {

    background-color: #fff;
    width: 25%;
    height: 35px;
    border-radius: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px #030303;
}

input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

input:focus {

    outline: none;
}